html {
    font-family: arial,sans-serif;
    font-size: 13px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    
}

.topnav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 15px;
    overflow: hidden;
}
.topnav li {
    float: left;
  }
  
.topnav li a {
    display: block;
    color: grey;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
  }

.logo_area {
    padding: 30px;
}

.logo_area img {
   
}

.searchbox {
    padding-bottom: 20px;
}

.buttons {
    padding-bottom: 20px;
}

.language {
    margin-bottom: 100px;
}
footer {
    background: #f2f2f2;
    line-height: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

.ftop {
   border-bottom: 1px solid #e4e4e4;
   font-size: 15px;
   color: rgba(0,0,0,.54);
}

.fbottom {
    display: flex;
    flex-flow: row wrap;
}

.push {
    margin-left: auto;
}