html {
    font-family: arial,sans-serif;
    font-size: 13px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    
}

.topnav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 15px;
    overflow: hidden;
}
.topnav li {
    float: left;
  }
  
.topnav li a {
    display: block;
    color: grey;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
  }

.content_area {

}

.logo_area {
    
}

.logo_area img {
   
}

footer {
   
}

.ftop {
   
}

.fbottom {
    
}